mfcc_20_no_pitch_1000_rand_100_speakers.pickle
mfcc_20_no_pitch_1000_rand_all_speakers.pickle
pca_mfcc_20_no_pitch_1000_rand_100_speakers.pickle
pca_mfcc_20_no_pitch_1000_rand_all_speakers.pickle
mfcc_13_no_pitch_1000_rand_all_speakers.pickle
pca_mfcc_13_no_pitch_1000_rand_all_speakers.pickle